.vs
translation/part5_Templates and User Interfaces/Kodlar/Python/Django'da_Yeni_Uygulama_Başlatma_Komutları/Django'da_Yeni_Uygulama_Başlatma_Komutları/Django'da_Yeni_Uygulama_Başlatma_Komutları.pyproj
translation/part5_Templates and User Interfaces/Kodlar/Python/Django_settings.py_İçindeki_Şablon_Ayarları/Django_settings.py_İçindeki_Statik_Dosya_Ayarları/Django_settings.py_İçindeki_Statik_Dosya_Ayarları.py

translation/part5_Templates and User Interfaces/Kodlar/Python/




